@import url('/node_modules/antd/dist/antd.less');
@import url('/node_modules/antd/dist/antd.css');
[ant-click-animating-without-extra-node='true']::after{display:none;}
.ant-btn.ant-btn-background-ghost:hover{
    border-color: #9FD7E8 !important;
    color: #9FD7E8 !important;
}
.ant-btn.ant-btn-background-ghost:active{
    border-color: #B3DFEC !important;
    color: #B3DFEC !important;
}
.button-whatsapp {
    border-color: #262626 !important;
    color: #262626 !important;
}
.button-whatsapp:hover{
    border-color: #363636 !important;
    color: #363636 !important;
}
.button-whatsapp:active{
    border-color: #1F1F1F !important;
    color: #1F1F1F !important;
}
.ant-btn.ant-btn-background-ghost:focus{
    border-color: #B3DFEC !important;
    color: #B3DFEC !important; 
}